* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.registerText {
  color: #333333;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.card {
  width: 35rem;
  height: 45rem;
  background-color: #8fb8de;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
  }
}

.shiftInput {
  padding-right: 0.5rem;
  width: 26rem;
  height: 2.5rem;
  background-color: #ecf4ff;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.createShift {
  background-color: #333333;
  width: 50%;
  height: 3rem;
  border: none;
  color: #ecf4ff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
