.navbar {
  display: flex;
  background-color: #8fb8de;
  height: 4rem;
  width: 100%;
  font-size: 1rem;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.buttonStyle {
  display: flex;
  background-color: #8fb8de;
  letter-spacing: 0.05rem;
  border: none;
  text-align: center;
  cursor: pointer;
  justify-content: end;
  height: 100%;
  padding-right: 1rem;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.textContainer {
  display: flex;
  text-align: left;
  margin-top: 0.8rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 3rem;
}

.btnStyle {
  display: flex;
  width: 12rem;
  height: 3rem;
  background-color: #333333;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 80%;
  padding-left: 1rem;
}

.inputStyle {
  width: 15%;
}
