* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.card {
  width: 16rem;
  height: 16rem;
  background-color: #8fb8de;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }
}

.shiftInputName {
  padding-right: 0.5rem;
  width: 14rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 0.6rem;
  padding-bottom: 0.8rem;
  font-size: 2.2rem;
  text-align: right;
  font-weight: bolder;
}

.shiftInputDate {
  padding-right: 0.5rem;
  width: 14rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
}

.shiftInput {
  padding-right: 0.5rem;
  width: 14rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  text-align: right;
}

.shiftInputHour {
  padding-right: 0.5rem;
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
}

.hourCont {
  display: flex;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border-color: transparent;
  outline: none;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
}

.createShift {
  background-color: #333333;
  width: 100%;
  height: 2rem;
  border: none;
  color: #ecf4ff;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
